.acc-animation {
    animation-name: accordion-master;
    animation-duration: 0.7s;
    animation-timing-function: ease-in-out;
    transform-origin: top;
}

.acc-animation-close {
    animation-name: accordion-close;
    animation-duration: 0.7s;
    animation-timing-function: ease-in-out;
    transform-origin: bottom;
}

@keyframes accordion-master {
    from {
        max-height: 0;
    }

    to {
        max-height: 300px;
    }
}

@keyframes accordion-close {
    from {
        max-height: 300px;
    }

    to {
        max-height: 0;
    }
}

/* 
.acc-animation {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    padding-top: 0;
    padding-bottom: 0;
    transition:
        max-height 300ms ease,
        opacity 250ms ease,
        padding 300ms ease;
}

Apply this class when accordion is open 
.acc-animation.open {
    max-height: 500px;
    opacity: 1;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
} */